*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;    
}

:root{
    --bg-dashboard:#be123c;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar{
    color: white;
    background-color: var(--bg-dashboard);
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 15px 20px 20px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 35px;
    list-style-type: none;
}

.dash-image{
    width: 43px;
    padding-right: 8px;
}

.max-heading{
    font-weight: bold;
    font-size: 24px;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.nav-bar{
    grid-row: 2/3;
}

.nav-styles{
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}

.nav-styles li{
    padding-bottom: 20px;
}

.sidebar li{
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.clickable:hover{
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

.simple-icon{
    width: 25px;
    margin-right: 20px;
}

.simpler-icon{
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

.simplest-icon{
    width: 70px;
    border-radius: 50px;
    border: 1px solid rgb(197, 197, 197);
    margin-right: 15px;
}

.settings-bar{
    padding-top: 15px;
    grid-row: 3/4;
}

.header{
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    box-shadow: 0px 2px 3px rgb(175 175 175)
}

.top-header{
    display: flex;
    justify-content: space-between;
}

.search-bar{
    display: flex;
    padding: 17px 0px 0px 30px;
}

.search-input{
    padding-left: 10px;
    margin-left: 10px;
    width: 45vw;
    max-width: 471px;
    height: 25px;
    background-color:burlywood;
    border: none;
    border-radius: 15px;
}

.profile-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    max-width: 196px;
    min-width: 155px;
    margin-right: 25px;
    margin-left: 15px;
    font-weight: bold;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 20px 0px 30px;
}

.profile-display{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 12px;
    margin-right: 12px;
}

.greeting{
    font-size: 12px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.name{
    font-size: 23px;
}

.make-post{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25vw;
    max-width: 276px;
    min-width: 263px;
    margin-bottom: 18px;
}


.head-button{
    color: white;
    font-weight: 500;
    background-color: var(--bg-dashboard);
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-bottom: 5px;
    margin-right: 10px;
}